.img-small {
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-medium {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-large {
  max-width: 300px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}